@import "@getable/variables";

.rentableFooter {
  background-color: var(--color-grey10);
  text-align: center;

  padding-top: var(--padding-large);
  padding-bottom: var(--padding-small);
}

.rentableFooter a {
  color: var(--color-black10);
}

.rentableFooter p {
  color: var(--color-grey50);
  font-size: var(--fontSize-h5);
  padding-top: var(--padding-large);
}


